<div class="content">
<div class="container">
<div class="form-container">
<h1>Create New Event</h1>
<form [formGroup]="createEventForm" (ngSubmit)="createEvent()">
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" required />
    <mat-error *ngIf="createEventForm.get('name')?.hasError('required')">
      Name is required.
    </mat-error>
    <mat-error *ngIf="createEventForm.get('name')?.hasError('minlength')">
      Name should have at least 5 characters.
    </mat-error>
  </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let val of categories" [value]="val">
          {{EventCategory2LabelMapping[val]}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="createEventForm.get('category')?.hasError('required')">
        Category is required.
      </mat-error>
    </mat-form-field>
  <div class="mat-form-field-wrapper">
    <label>Description: </label>
    <editor [init]="{ plugins: 'lists link image table code wordcount', menubar: false, width: 700, setup: setup}"
            apiKey="pwnpv1kjtjd4u7ea5pzlsqwuhipujq2i0rsg7sdqlfkrsaq7"
            formControlName="description">
    </editor>
  </div>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Location</mat-label>
    <input matInput type="text" formControlName="location" required />
    <mat-error *ngIf="createEventForm.get('location')?.hasError('required')">
      Location is required.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Date of start</mat-label>
    <input matInput type="date" formControlName="dateStart" [min]="today">
  </mat-form-field>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Hour of start</mat-label>
    <input matInput type="time" formControlName="timeStart">
  </mat-form-field>
  <button *ngIf="!disabledEndInputs()" (click)="includeEndDate=!includeEndDate">Add end date</button>
  <div *ngIf="includeEndDate">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Date of end</mat-label>
      <input matInput type="date" formControlName="dateEnd" [min]="minEndDate()">
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Hour of end</mat-label>
      <input matInput type="time" formControlName="timeEnd">
    </mat-form-field>
  </div>
  <div class="mat-form-field-wrapper">
    <label>Upload background image</label>
    <input type="file" accept="image/png, image/jpeg" (change)="onFileChange($event)">
  </div>

  <button mat-raised-button type="submit" color="primary" [disabled]="createEventForm.invalid || !isEndDateCorrect()">Create</button>
</form>
</div>

<div class="preview-container">
  <h1>Preview on phone</h1>
  <div class="event-preview">
    <img class="event-preview__image" [src]="imgUrl">
    <div class="event-info">
      <h1>{{createEventForm.value.name}}</h1>
      <p class="event-preview__row"><mat-icon>category</mat-icon>Category: {{createEventForm.value.category}}</p>
      <p class="event-preview__row"><mat-icon>calendar_today</mat-icon>{{createEventForm.value.dateStart}} at {{createEventForm.value.timeStart}}</p>
      <p *ngIf="createEventForm.value.timeEnd" class="event-preview__row"><mat-icon>timer</mat-icon>7 hours</p>
      <p class="event-preview__row"><mat-icon>check_circle</mat-icon>Participants: 0</p>
      <p class="event-preview__row"><mat-icon>person_pin</mat-icon>Interested: 0</p>
      <p class="event-preview__row"><mat-icon>location_on</mat-icon>Location: {{createEventForm.value.location}}</p>
      <p class="event-preview__row"><mat-icon>bookmark</mat-icon>Tickets available</p>
    </div>

  </div>
</div>
</div>
</div>
