<h1>Edit Event Details</h1>
<form [formGroup]="editForm" (ngSubmit)="edit()">
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" required />
    <mat-error *ngIf="editForm.get('name')?.hasError('required')">
      Name is required.
    </mat-error>
    <mat-error *ngIf="editForm.get('name')?.hasError('minlength')">
      Name should have at least 5 characters.
    </mat-error>
  </mat-form-field>
  <div class="mat-form-field-wrapper">
    <editor [init]="{ plugins: 'lists link image table code wordcount', menubar: false, width: 450, setup: setup}"
            apiKey="pwnpv1kjtjd4u7ea5pzlsqwuhipujq2i0rsg7sdqlfkrsaq7"
            formControlName="description">
    </editor>
  </div>
  <button mat-raised-button color="primary" [disabled]="isFormInvalid()">Edit</button>
</form>
