<div *ngIf="(selectedEvent$ | async) as event">
  <h1>Event name: {{event.name}}</h1>
  <h2>Organizer: {{event.organizer.name}}</h2>
  <h2>Description: </h2>
  <div [innerHTML]="event.description">
  </div>
  <button (click)="openEditDialog()">Edit event details</button>
  <h2>Total {{event.interested.length}} interested people:</h2>
  <div *ngFor="let user of event.interested">
    <p>{{user.name}} {{user.surname}}</p>
  </div>
  <h2>Total {{event.participants.length}} people will take part:</h2>
  <div *ngFor="let user of event.participants">
    <p>{{user.name}} {{user.surname}}</p>
  </div>
  <h2>Tickets: </h2><button (click)="openCreateTicketPoolDialog()">Create new ticket pool</button>
  <div *ngFor="let ticketPool of event.ticketPools">
    <button (click)="openEditTicketPoolDialog(ticketPool.id)">Edit ticket pool</button>
    <button (click)="openChangePoolQuantityDialog(ticketPool.id)">Change quantity of tickets</button>
    <p><b>{{TicketPoolStatus2LabelMapping[ticketPool.status]}} </b>{{ticketPool.name}}: {{ticketPool.tickets.length}} tickets for {{ticketPool.tickets[0].price}}zł</p>
    <p>{{getAvailableTickets(ticketPool.tickets)}} available</p>
    <p>{{getSoldTickets(ticketPool.tickets)}} sold</p>
  </div>
</div>
